.App {
  margin: 15px 40px;
}

.cj-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cj-button {
  padding: 5px 10px;
  border-radius: 3px;
  background-color: black;
  color: white;
}

.cj-search {
  padding: 5px 10px;
  border-radius: 3px;
  border-style: solid;
  border-color: #D3D3D3;
  border-width: 1px;
}

.cj-table-header {
  background-color: black;
  color: white;
  padding: 10px 15px;
  border-color: white;
  border-width: 0.1px;
  font-size: 13px;
  font-weight: 500;
}

.cj-table {
  width: 100%;
  border-color: #D3D3D3;
  border-width: 1.5px;
}

.data-box {
  padding: 10px 10px 19px 10px;
  color: black;
  background-color: #DCDCDC;
}

.modal-header {
  background-color: black;
  color: white;
  padding: 10px;
  font-weight: 600;
  font-size: 15px;
  text-align: left;
}

.modal-input {
  margin: 10px;
  margin-top: 4px;
  padding: 5px;
  border-radius: 4px;
  border-style: solid;
  border-color: #D3D3D3;
  border-width: 1px;
}

.secondary-button {
  padding: 5px 10px;
  border-color: #D3D3D3;
  border-radius: 4px;
  margin: 5px;
}